[Desktop Entry]
Type=Application
Version=1.0
Name=SUPERSHOD HD
Exec=supershod-hd
Comment=SUPERSHOD HD
Icon=supershod
Terminal=false
Categories=Game;ArcadeGame;
